Package: tpp-df-bt-service
Version: 1.0.19
Architecture: all
Maintainer: dt1900 <thompson.daniel@gmail.com>
Description: A service to control a 4-relay board with a controller.
Depends: python3, python3-evdev
