[Unit]
Description=Relay Controller Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/tpp-df-bt-service
ExecStart=/usr/bin/python3 -m tpp_df_bt_service
Restart=on-failure

[Install]
WantedBy=multi-user.target
