[Unit]
Description=TPP PS4 Controller Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/tpp-df-bt-service
ExecStart=/usr/bin/python3 /usr/lib/python3/dist-packages/tpp_df_bt_service/__main__.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
