[Unit]
Description=Relay Controller Service
After=network.target

[Service]
Type=idle
User=root
WorkingDirectory=/etc/tpp-df-bt-service
ExecStart=/usr/bin/python3 -u -m tpp_df_bt_service
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target